html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f3f3f3;
  margin: 33px;
}

html body{
  background-color: #00837b;
  color: white;
  font-family: "Karla";
}

.container {
  padding-top: 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.page {
  padding: 1em 5em 1em 5em;
  max-width: inherit;
  flex-flow: column wrap;
  justify-content: center;
}


#dash-title > h1 {
  font-family: "Libre Baskerville" !important;
  text-align: center;
}

#real-rate {
  padding-top: 2em;
  width: 100%;
}

#rates {
  text-align: center;
  padding-top: 1em;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-primary {
  border-width: 3px;
  font-family: "Karla";
  font-weight: bold;
  font-size: 19px;
  background-color: #7fdae0;
  color: black;
  border-color: #232020;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  word-break: break-word;
  &:hover {
    font-family: "Karla";
    font-weight: bold;
    font-size: 19px;
    background-color: #7fdae0;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
    -webkit-text-fill-color: black !important;
    border-color: #232020;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    word-break: break-word;
  }
  &:focus {
    font-family: "Karla";
    font-weight: bold;
    font-size: 19px;
    background-color: #7fdae0;
    color: black;
    border-color: #232020;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    word-break: break-word;
    box-shadow: none !important;
  }
  &:visited {
    font-family: "Karla";
    font-weight: bold;
    font-size: 19px;
    background-color: #7fdae0;
    color: black;
    border-color: #232020;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    word-break: break-word;
  }
  &:active {
    font-family: "Karla" !important;
    font-weight: bold !important;
    font-size: 19px !important;
    background-color: #7fdae0 !important;
    color: black !important;
    border-color: #232020 !important;
    letter-spacing: 2px !important;
    overflow-wrap: break-word !important;
    text-align: center !important;
    text-decoration-line: none !important;
    text-decoration-style: solid !important;
    text-transform: uppercase !important;
    word-break: break-word !important;
    box-shadow: none !important;
  }
  &:disabled {
    border-width: 3px;
    font-family: "Karla";
    font-weight: bold;
    font-size: 19px;
    background-color: #7fdae0;
    color: black;
    border-color: #232020;
    letter-spacing: 2px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    word-break: break-word;
  }
}
