<div data-controller='rates'>
  <input data-rates-target='rate' type='number' />

  <button data-action='click->rates#calculate'>
    CLICK
  </button>
  <span data-rates-target='output'>rates</span>
</div>
