<div id='dash-title'>
  <h1 class='middle'>
    The Freelance Rate Generator
  </h1>
</div>

<div class='middle'>
  <p>The biggest problem in freelancing is picking an equitable and accurate day rate.</p>
</div>
<div class='middle'>
  <p>But we have your back. Enter your annual salary rate.</p>
</div>

<div data-controller='rates' id='rates'>
  <input data-rates-target='rate' type='number' id='rate-field'/>

  <button data-action='click->rates#calculate' class='btn btn-primary' id='rate-button' disabled='disabled'>
    CLICK
  </button>
  <br />
  <div data-rates-target='output' id='real-rate'></div>
</div>
